<body>

  <section data-bs-version="5.1" class="menu menu2 cid-sFCw1qGFAI" once="menu" id="menu2-23">

    <nav class="navbar navbar-dropdown navbar-expand-lg">
      <div class="container">
        <div class="navbar-brand">

          <span class="navbar-caption-wrap"><a class="text-black navbar-caption display-7" href="#">Finance Trading
              Company</a></span>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
          data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
            <li class="nav-item"><a class="text-black nav-link link text-primary display-4" href="#top">Home</a></li>
            <li class="nav-item"><a class="text-black nav-link link text-primary display-4" (click)="auth('login')"
                *ngIf="!getUser()">Login</a></li>
            <li class="nav-item"><a class="text-black nav-link link text-primary display-4" (click)="auth('signup')"
                *ngIf="!getUser()">Sign up</a>
            </li>
            <li class="nav-item"><a class="text-black nav-link link text-primary display-4"
                (click)="action.navigate('profile')" *ngIf="getUser()">My account</a>
            </li>
            <li class="nav-item"><a class="text-black nav-link link text-primary display-4"
                href="index.html#team1-1o">About us</a></li>
            <li class="nav-item"><a class="text-black nav-link link text-primary display-4"
                href="index.html#contacts2-1r">Contacts</a></li>
          </ul>

          <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="#">
              Get Started</a></div>
        </div>
      </div>
    </nav>
  </section>

  <section data-bs-version="5.1" class="header14 cid-sFzxmVl7J6 mbr-fullscreen"
    data-bg-video="https://vimeo.com/428046504" id="header14-1f">



    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>

    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 image-wrapper">
          <img src="../../assets/images/mbr-1256x829.jpg" alt="Mobirise Website Builder">
        </div>
        <div class="col-12 col-md">
          <div class="text-wrapper">
            <h1 class="mb-3 mbr-section-title mbr-fonts-style display-1"><strong>Invest and Earn Upto 95% in 60
                Seconds</strong></h1>
            <p class="mbr-text mbr-fonts-style display-7">
              WE TRADE IN CLASSIC CURRENCIES AND CRYPTO - SEAMLESS AND FLEXIBLE</p>
            <div class="mt-3 mbr-section-btn"><a class="btn btn-primary display-4" href="#">Read More</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="features1 cid-sFzyUE9AaP" id="features1-1i">



    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-9">
          <h3 class="mb-0 mbr-section-title mbr-fonts-style align-center display-2">
            <strong>Our Features</strong>
          </h3>

        </div>
      </div>
      <div class="row">
        <div class="card col-12 col-md-6 col-lg-3">
          <div class="card-wrapper">
            <div class="card-box align-center">
              <div class="iconfont-wrapper">
                <span class="mbr-iconfont mobi-mbri-contact-form mobi-mbri"></span>
              </div>
              <h5 class="card-title mbr-fonts-style display-5"><strong>Market Analysis</strong></h5>
              <p class="card-text mbr-fonts-style display-7">Excellent market analysis</p>
            </div>
          </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
          <div class="card-wrapper">
            <div class="card-box align-center">
              <div class="iconfont-wrapper">
                <span class="mbr-iconfont mobi-mbri-growing-chart mobi-mbri"></span>
              </div>
              <h5 class="card-title mbr-fonts-style display-5"><strong>Margin Trading</strong></h5>
              <p class="card-text mbr-fonts-style display-7">We monitor and track trades</p>
            </div>
          </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
          <div class="card-wrapper">
            <div class="card-box align-center">
              <div class="iconfont-wrapper">
                <span class="mbr-iconfont mobi-mbri-cash mobi-mbri"></span>
              </div>
              <h5 class="card-title mbr-fonts-style display-5"><strong>Stable Income</strong></h5>
              <p class="card-text mbr-fonts-style display-7">Earn massively from little investments<br></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="header14 cid-sFzz5E692j" id="header14-1j">





    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 image-wrapper">
          <img src="../../assets/images/mbr-1256x837.jpg" alt="Mobirise Website Builder">
        </div>
        <div class="col-12 col-md">
          <div class="text-wrapper">
            <h1 class="mb-3 mbr-section-title mbr-fonts-style display-2">
              <strong>About Company</strong>
            </h1>
            <p class="mbr-text mbr-fonts-style display-7">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut dapibus massa, efficitur varius augue. In
              vel elit lorem. Fusce et dui fringilla, suscipit nulla sed, viverra nunc. Nulla ut justo ut enim vehicula
              maximus. Nam et neque tempus.<br><br>Duis lobortis aliquam varius. Aliquam at metus at urna bibendum
              aliquet. Curabitur ut commodo ex, nec vehicula eros. Suspendisse dictum eu tortor id aliquam. Pellentesque
              habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.<br></p>
            <div class="mt-3 mbr-section-btn"><a class="btn btn-primary display-4" href="#">Read More</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="content10 cid-sFAZRnJnnI" id="content10-22">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md">

          <h6 class="mb-4 mbr-section-subtitle mbr-fonts-style display-2"><strong>Why clients choose us?</strong></h6>
        </div>
        <div class="col-md-12 col-lg-6">
          <p class="mbr-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
            aliquam a nibh ut consectetur. Vestibulum nec massa a nisl condimentum mattis. Mauris semper risus dui,
            vitae pulvinar sapien rutrum in. Cras risus ante, porta vel volutpat vel, pulvinar in magna. Donec lacinia
            in mi eget pharetra.</p>
        </div>
      </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="team1 cid-sFzErVWEaH" id="team1-1o">



    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h3 class="mb-5 mbr-section-title1 mbr-fonts-style align-center display-2">
            <strong>Professional Team</strong>
          </h3>

        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card-wrap">
            <div class="image-wrap">
              <img src="../../assets/images/mbr-596x398.jpg" alt="Mobirise Website Builder">
            </div>
            <div class="content-wrap">
              <h5 class="m-0 mbr-section-title card-title mbr-fonts-style align-center display-5">
                <strong>John Smith</strong>
              </h5>
              <h6 class="mb-3 mbr-role mbr-fonts-style align-center display-4">
                <strong>Trader</strong>
              </h6>



            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card-wrap">
            <div class="image-wrap">
              <img src="../../assets/images/mbr-3-596x397.jpg" alt="Mobirise Website Builder">
            </div>
            <div class="content-wrap">
              <h5 class="m-0 mbr-section-title card-title mbr-fonts-style align-center display-5">
                <strong>Sarah Palmer</strong>
              </h5>
              <h6 class="mb-3 mbr-role mbr-fonts-style align-center display-4">
                <strong>Manager</strong>
              </h6>



            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card-wrap">
            <div class="image-wrap">
              <img src="../../assets/images/mbr-2-596x397.jpg" alt="Mobirise Website Builder">
            </div>
            <div class="content-wrap">
              <h5 class="m-0 mbr-section-title card-title mbr-fonts-style align-center display-5">
                <strong>James Swift</strong>
              </h5>
              <h6 class="mb-3 mbr-role mbr-fonts-style align-center display-4">
                <strong>Trader</strong>
              </h6>



            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card-wrap">
            <div class="image-wrap">
              <img src="../../assets/images/mbr-596x401.jpeg" alt="Mobirise Website Builder">
            </div>
            <div class="content-wrap">
              <h5 class="m-0 mbr-section-title card-title mbr-fonts-style align-center display-5">
                <strong>Helen Smith</strong>
              </h5>
              <h6 class="mb-3 mbr-role mbr-fonts-style align-center display-4">
                <strong>Manager</strong>
              </h6>



            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="contacts4 cid-sFAyMcKwph" id="contacts4-21">





    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="text-content col-12 col-md-6">
          <h2 class="mbr-section-title mbr-fonts-style display-2">
            <strong>Follow Us</strong>
          </h2>
          <p class="mbr-text mbr-fonts-style display-7">Follow all of us our pages on social media<br></p>
        </div>
        <div class="flex-wrap mt-2 icons d-flex align-items-center col-12 col-md-6 justify-content-end mt-md-0">
          <a href="https://twitter.com/mobirise" target="_blank">
            <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
          </a>
          <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
            <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
          </a>
          <a href="https://www.youtube.com/c/mobirise" target="_blank">
            <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
          </a>
          <a href="https://instagram.com/mobirise" target="_blank">
            <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
          </a>






        </div>
      </div>
    </div>

  </section>

  <section data-bs-version="5.1" class="features23 cid-sFAyHxWQ1N" id="features24-20">



    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="mb-4 card-wrapper">
            <div class="card-box align-center">
              <h4 class="mb-4 card-title mbr-fonts-style display-2">
                <strong>Steps to Start Traiding</strong>
              </h4>
              <p class="mb-4 mbr-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Nunc ut dapibus massa, efficitur varius augue. In vel elit lorem. Fusce et dui fringilla, suscipit
                nulla sed, viverra nunc. Nulla ut justo ut enim vehicula maximus. Nam et neque tempus, ultricies purus
                vel, suscipit leo.</p>

            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="p-4 item first mbr-flex">
            <div class="icon-wrap w-100">
              <div class="icon-box">
                <span class="step-number mbr-fonts-style display-5">1</span>
              </div>
            </div>

            <div class="text-box">
              <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7"><strong>Contact Us</strong></h4>
              <h5 class="mbr-text mbr-black mbr-fonts-style display-4">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc ut dapibus massa efficitur.</h5>
            </div>
          </div>
          <!-- <span mbr-icon class="mbr-iconfont mobi-mbri-devices mobi-mbri"></span> -->
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="p-4 item mbr-flex">
            <div class="icon-wrap w-100">
              <div class="icon-box">
                <span class="step-number mbr-fonts-style display-5">2</span>
              </div>
            </div>
            <div class="text-box">
              <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7">
                <strong>Buy Trading Plan</strong>
              </h4>
              <h5 class="mbr-text mbr-black mbr-fonts-style display-4">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc ut dapibus massa efficitur.</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="p-4 item mbr-flex">
            <div class="icon-wrap w-100">
              <div class="icon-box">
                <span class="step-number mbr-fonts-style display-5">3</span>
              </div>
            </div>
            <div class="text-box">
              <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7"><strong>Start Trading</strong></h4>
              <h5 class="mbr-text mbr-black mbr-fonts-style display-4">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc ut dapibus massa efficitur.</h5>
            </div>
          </div>
        </div>





      </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="form5 cid-sFzDs3t9EG" id="form5-1m">


    <div class="container">
      <div class="mbr-section-head">
        <h3 class="mb-0 mbr-section-title mbr-fonts-style align-center display-2"><strong>Write Us a Message</strong>
        </h3>
        <h4 class="mt-2 mb-0 mbr-section-subtitle mbr-fonts-style align-center display-7">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.</h4>
      </div>
      <div class="mt-4 row justify-content-center">
        <div class="mx-auto col-lg-8 mbr-form" data-form-type="formoid">
          <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler"
            data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true"
              value="ztBIIkr+KJtXlpjaaCd2I7TxDBGdAgjpCRy8Yh/7TeBn1Vi1s86kpZ1He06PbhNtnOYmqTFzmh0IIleTdrvTwxL4q31phs1/yj+1F5sguwDw4FBXT1CmXwMWbS4K4xAS">
            <div class="row">
              <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out
                the form!</div>
              <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                problem!</div>
            </div>
            <div class="dragArea row">
              <div class="mb-3 col-md col-sm-12 form-group" data-for="name">
                <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value=""
                  id="name-form5-1m">
              </div>
              <div class="mb-3 col-md col-sm-12 form-group" data-for="email">
                <input type="email" name="email" placeholder="E-mail" data-form-field="email" class="form-control"
                  value="" id="email-form5-1m">
              </div>

              <div class="mb-3 col-12 form-group" data-for="textarea">
                <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control"
                  id="textarea-form5-1m"></textarea>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><button type="submit"
                  class="btn btn-primary display-4">Send message</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="map2 cid-sFAxp7Y5iM" id="map2-1y">


    <div>

      <div class="google-map"><iframe frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBQ55g-IgRRgXrd803PTWDTb7kd6aAitNQ&amp;q=350 5th Ave, New York, NY 10118"
          allowfullscreen=""></iframe></div>
    </div>
  </section>

  <section data-bs-version="5.1" class="footer3 cid-sFCygHrmNf" once="footers" id="footer3-24">





    <div class="container">
      <div class="row align-center mbr-white">
        <div class="row row-links">
          <ul class="foot-menu">





            <li class="foot-menu-item mbr-fonts-style display-7"><a href="#top" class="text-white">Home</a></li>
            <li class="foot-menu-item mbr-fonts-style display-7"><a href="index.html#features1-1i"
                class="text-white">Features</a></li>
            <li class="foot-menu-item mbr-fonts-style display-7"><a href="index.html#header14-1j"
                class="text-white">About</a></li>
            <li class="foot-menu-item mbr-fonts-style display-7"><a href="index.html#content4-1q"
                class="text-white text-primary">Pricing</a></li>
            <li class="foot-menu-item mbr-fonts-style display-7"><a href="index.html#team1-1o"
                class="text-white">Teams</a></li>
            <li class="foot-menu-item mbr-fonts-style display-7"><a href="index.html#contacts4-21"
                class="text-white">Contacts</a></li>
          </ul>
        </div>
        <div class="row social-row">
          <div class="pb-2 social-list align-right">






            <div class="soc-item">
              <a href="https://twitter.com/mobirise" target="_blank">
                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="https://www.youtube.com/c/mobirise" target="_blank">
                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="https://instagram.com/mobirise" target="_blank">
                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="https://www.behance.net/Mobirise" target="_blank">
                <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="row row-copirayt">
          <p class="mb-0 mbr-text mbr-fonts-style mbr-white align-center display-7">
            © Copyright 2025 Mobirise. All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </section>
  <div
    style="height:62px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; block-size:62px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F;padding:1px;padding: 0px; margin: 0px; width: 100%; position:fixed; bottom:0px;">
    <div style="height:40px; padding:0px; margin:0px; width: 100%;"><iframe
        src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=light&pref_coin_id=1505&invert_hover="
        width="100%" height="36px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0"
        style="border:0;margin:0;padding:0;"></iframe></div>
  </div>

  <section class="display-7"
    style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 4rem;">
    <a href="#/2646288" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;">
      <img alt="" style="height: 4rem;"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
    </a>
    <p style="margin: 0;text-align: center;" class="display-7">&#8204;</p>
    <!-- <a style="z-index:1" href="https://mobirise.com/html-builder.html">HTML Maker</a> -->
  </section>

</body>